@charset "utf-8";
/* CSS Document */

/* FONT */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
/* $ FONT */


body {
	background: #006ba1;
	font-family: 'Lato', sans-serif;
	font-size: 18px;
	color: #3a3a3a;
}
header {
	padding: 20px 0;
}
header a.logo {
	display: block;
	width: 257px;
	height: 83px;
	margin: 0 auto;
	background: url("img/logo.png") center center no-repeat;
}
.container-centro {
	background: #fafafa;
	padding: 45px 0;
}
.container-centro h1 {
	font-size: 32px;
	color: #006ba1;
}
footer {
	background: #006ba1;
	padding: 20px 0;
}
footer a {
	font-weight: 700;
	color: #fff;
}
footer a:hover {
	color: #ffd105;
	text-decoration: none;
}

/* custom-pagination */
.custom-pagination .pagination {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	padding-left: 0;
	list-style: none;
	border-radius: 0.25rem;
}
.custom-pagination .page-link {
	position: relative;
	display: block;
	padding: 0.5rem 0.75rem;
	margin-left: -1px;
	line-height: 1.25;
	color: #006ba1;
	background-color: #fff;
	border: 1px solid #dee2e6;
}
.custom-pagination .page-link:hover {
	z-index: 2;
	color: #003855;
	text-decoration: none;
	background-color: #e9ecef;
	border-color: #dee2e6;
}
.custom-pagination .page-link:focus {
	z-index: 3;
	outline: 0;
	-webkit-box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
	box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
.custom-pagination .page-item:first-child .page-link {
	margin-left: 0;
	border-top-left-radius: 0.25rem;
	border-bottom-left-radius: 0.25rem;
}
.custom-pagination .page-item:last-child .page-link {
	border-top-right-radius: 0.25rem;
	border-bottom-right-radius: 0.25rem;
}
.custom-pagination .page-item.active .page-link {
	z-index: 3;
	color: #fff;
	background-color: #006ba1;
	border-color: #006ba1;
}
.custom-pagination .page-item.disabled .page-link {
	color: #6c757d;
	pointer-events: none;
	cursor: auto;
	background-color: #fff;
	border-color: #dee2e6;
}
.custom-pagination .pagination-lg .page-link {
	padding: 0.75rem 1.5rem;
	font-size: 1.25rem;
	line-height: 1.5;
}
.custom-pagination .pagination-lg .page-item:first-child .page-link {
	border-top-left-radius: 0.3rem;
	border-bottom-left-radius: 0.3rem;
}
.custom-pagination .pagination-lg .page-item:last-child .page-link {
	border-top-right-radius: 0.3rem;
	border-bottom-right-radius: 0.3rem;
}
.custom-pagination .pagination-sm .page-link {
	padding: 0.25rem 0.5rem;
	font-size: 0.875rem;
	line-height: 1.5;
}
.custom-pagination .pagination-sm .page-item:first-child .page-link {
	border-top-left-radius: 0.2rem;
	border-bottom-left-radius: 0.2rem;
}
.custom-pagination .pagination-sm .page-item:last-child .page-link {
	border-top-right-radius: 0.2rem;
	border-bottom-right-radius: 0.2rem;
}
